body {
  padding: 50px;
  font-family: sans-serif;
  border: 5px solid black;
  justify-content: center;
  background-color: palevioletred;
}
ToDoItem.div {
  justify-content: center;
}
.grid {
  justify-content: center;
  justify-self: center;
  align-items: center;
}
