body {
  padding: 50px;
  font-family: sans-serif;

  justify-content: center;
}
ToDoItem.div {
  justify-content: center;
}
.grid {
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-items: center;
  background-color: skyblue;
  border: 5px solid white;
}
h1 {
  text-align: center;
  justify-content: center;
}
.toCenter {
  text-align: center;
  justify-content: center;
}
